.home{
    display: flex;
}

.searchBar{
    display: flex;
    align-items: center;
    background-color:#f1f1f1;
    width: 500px;
    border-radius: 50px;
    margin-left: 30px;
    margin-top: 20px;
    height: 40px;
}

.searchInput{
    height:30px;
    width: 500px;
    font-size: 15px;
    background-color: transparent;
    border: 0px solid;
    padding: 5px 0px 0px 5px;
    outline: none;
}

.topSearchIcon{
    font-size: 22px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}